@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --wtpi-primary: #ee2c29;
  --wtpi-primary-light:#EC5B57;
  --wtpi-body-background: #FAFAFA;
  --wtpi-white: #ffffff;
  --wtpi-text-primary: #EE312F;
  --wtpi-text-secondary: #333333;
  --wtpi-text-color: #222222;
  --wtpi-border: #DDDDDD;
  --wtpi-radius: 5px;
  --wtpi-radius-sm: 10px;
  --wtpi-radius-md: 15px;
  --wtpi-radius-lg: 9999px;
  --wtpi-spaceing:15px;
  --wtpi-spaceing-sm:10px;
  --wtpi-spaceing-md:20px;
  --wtpi-shadow: 0px 0px 10px 0px #0000001A;
  --wtpi-font-size: 16px;
  --wtpi-font-size-sm: 18px;
  --wtpi-font-size-md: 20px;
  --wtpi-font-size-lg: 22px;
  --wtpi-font-size-xl: 24px;
  --wtpi-font-heading: 44px;
  --wtpi-font-weight: 500;
  --wtpi-font-weight-md: 600;
  --wtpi-font-weight-lg: 700;
  --wtpi-font-weight-bold: 800;
}
input[type=submit],
input[type=reset],
button {
  --theme: var(--wtpi-primary);
  display: inline-block;
  height: 44px;
  max-width: 350px;
  min-width: 140px;
  border: none;
  border-radius: var(--wtpi-radius);
  background-color: var(--theme);
  color: var(--wtpi-white);
  cursor: pointer;
  font-size: var(--wtpi-font-size);
  font-weight: var(--wtpi-font-weight);
}

.wtp-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}
@media screen and (max-width: 1200px) {
  .wtp-container {
    width: 95%;
    margin: auto;
  }
}

:root {
  --wtpi-primary: #ee2c29;
  --wtpi-primary-light:#EC5B57;
  --wtpi-body-background: #FAFAFA;
  --wtpi-white: #ffffff;
  --wtpi-text-primary: #EE312F;
  --wtpi-text-secondary: #333333;
  --wtpi-text-color: #222222;
  --wtpi-border: #DDDDDD;
  --wtpi-radius: 5px;
  --wtpi-radius-sm: 10px;
  --wtpi-radius-md: 15px;
  --wtpi-radius-lg: 9999px;
  --wtpi-spaceing:15px;
  --wtpi-spaceing-sm:10px;
  --wtpi-spaceing-md:20px;
  --wtpi-shadow: 0px 0px 10px 0px #0000001A;
  --wtpi-font-size: 16px;
  --wtpi-font-size-sm: 18px;
  --wtpi-font-size-md: 20px;
  --wtpi-font-size-lg: 22px;
  --wtpi-font-size-xl: 24px;
  --wtpi-font-heading: 44px;
  --wtpi-font-weight: 500;
  --wtpi-font-weight-md: 600;
  --wtpi-font-weight-lg: 700;
  --wtpi-font-weight-bold: 800;
}
body {
  background-color: var(--wtpi-body-background);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --wtpi-primary: #ee2c29;
  --wtpi-primary-light:#EC5B57;
  --wtpi-body-background: #FAFAFA;
  --wtpi-white: #ffffff;
  --wtpi-text-primary: #EE312F;
  --wtpi-text-secondary: #333333;
  --wtpi-text-color: #222222;
  --wtpi-border: #DDDDDD;
  --wtpi-radius: 5px;
  --wtpi-radius-sm: 10px;
  --wtpi-radius-md: 15px;
  --wtpi-radius-lg: 9999px;
  --wtpi-spaceing:15px;
  --wtpi-spaceing-sm:10px;
  --wtpi-spaceing-md:20px;
  --wtpi-shadow: 0px 0px 10px 0px #0000001A;
  --wtpi-font-size: 16px;
  --wtpi-font-size-sm: 18px;
  --wtpi-font-size-md: 20px;
  --wtpi-font-size-lg: 22px;
  --wtpi-font-size-xl: 24px;
  --wtpi-font-heading: 44px;
  --wtpi-font-weight: 500;
  --wtpi-font-weight-md: 600;
  --wtpi-font-weight-lg: 700;
  --wtpi-font-weight-bold: 800;
}
input[type=submit],
input[type=reset],
button {
  --theme: var(--wtpi-primary);
  display: inline-block;
  height: 44px;
  max-width: 350px;
  min-width: 140px;
  border: none;
  border-radius: var(--wtpi-radius);
  background-color: var(--theme);
  color: var(--wtpi-white);
  cursor: pointer;
  font-size: var(--wtpi-font-size);
  font-weight: var(--wtpi-font-weight);
}

.wtp-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}
@media screen and (max-width: 1200px) {
  .wtp-container {
    width: 95%;
    margin: auto;
  }
}

:root {
  --wtpi-primary: #ee2c29;
  --wtpi-primary-light:#EC5B57;
  --wtpi-body-background: #FAFAFA;
  --wtpi-white: #ffffff;
  --wtpi-text-primary: #EE312F;
  --wtpi-text-secondary: #333333;
  --wtpi-text-color: #222222;
  --wtpi-border: #DDDDDD;
  --wtpi-radius: 5px;
  --wtpi-radius-sm: 10px;
  --wtpi-radius-md: 15px;
  --wtpi-radius-lg: 9999px;
  --wtpi-spaceing:15px;
  --wtpi-spaceing-sm:10px;
  --wtpi-spaceing-md:20px;
  --wtpi-shadow: 0px 0px 10px 0px #0000001A;
  --wtpi-font-size: 16px;
  --wtpi-font-size-sm: 18px;
  --wtpi-font-size-md: 20px;
  --wtpi-font-size-lg: 22px;
  --wtpi-font-size-xl: 24px;
  --wtpi-font-heading: 44px;
  --wtpi-font-weight: 500;
  --wtpi-font-weight-md: 600;
  --wtpi-font-weight-lg: 700;
  --wtpi-font-weight-bold: 800;
}
body {
  background-color: var(--wtpi-body-background);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --wtpi-primary: #ee2c29;
  --wtpi-primary-light:#EC5B57;
  --wtpi-body-background: #FAFAFA;
  --wtpi-white: #ffffff;
  --wtpi-text-primary: #EE312F;
  --wtpi-text-secondary: #333333;
  --wtpi-text-color: #222222;
  --wtpi-border: #DDDDDD;
  --wtpi-radius: 5px;
  --wtpi-radius-sm: 10px;
  --wtpi-radius-md: 15px;
  --wtpi-radius-lg: 9999px;
  --wtpi-spaceing:15px;
  --wtpi-spaceing-sm:10px;
  --wtpi-spaceing-md:20px;
  --wtpi-shadow: 0px 0px 10px 0px #0000001A;
  --wtpi-font-size: 16px;
  --wtpi-font-size-sm: 18px;
  --wtpi-font-size-md: 20px;
  --wtpi-font-size-lg: 22px;
  --wtpi-font-size-xl: 24px;
  --wtpi-font-heading: 44px;
  --wtpi-font-weight: 500;
  --wtpi-font-weight-md: 600;
  --wtpi-font-weight-lg: 700;
  --wtpi-font-weight-bold: 800;
}
input[type=submit],
input[type=reset],
button {
  --theme: var(--wtpi-primary);
  display: inline-block;
  height: 44px;
  max-width: 350px;
  min-width: 140px;
  border: none;
  border-radius: var(--wtpi-radius);
  background-color: var(--theme);
  color: var(--wtpi-white);
  cursor: pointer;
  font-size: var(--wtpi-font-size);
  font-weight: var(--wtpi-font-weight);
}

.wtp-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}
@media screen and (max-width: 1200px) {
  .wtp-container {
    width: 95%;
    margin: auto;
  }
}

:root {
  --wtpi-primary: #ee2c29;
  --wtpi-primary-light:#EC5B57;
  --wtpi-body-background: #FAFAFA;
  --wtpi-white: #ffffff;
  --wtpi-text-primary: #EE312F;
  --wtpi-text-secondary: #333333;
  --wtpi-text-color: #222222;
  --wtpi-border: #DDDDDD;
  --wtpi-radius: 5px;
  --wtpi-radius-sm: 10px;
  --wtpi-radius-md: 15px;
  --wtpi-radius-lg: 9999px;
  --wtpi-spaceing:15px;
  --wtpi-spaceing-sm:10px;
  --wtpi-spaceing-md:20px;
  --wtpi-shadow: 0px 0px 10px 0px #0000001A;
  --wtpi-font-size: 16px;
  --wtpi-font-size-sm: 18px;
  --wtpi-font-size-md: 20px;
  --wtpi-font-size-lg: 22px;
  --wtpi-font-size-xl: 24px;
  --wtpi-font-heading: 44px;
  --wtpi-font-weight: 500;
  --wtpi-font-weight-md: 600;
  --wtpi-font-weight-lg: 700;
  --wtpi-font-weight-bold: 800;
}
body {
  background-color: var(--wtpi-body-background);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --wtpi-primary: #ee2c29;
  --wtpi-primary-light:#EC5B57;
  --wtpi-body-background: #FAFAFA;
  --wtpi-white: #ffffff;
  --wtpi-text-primary: #EE312F;
  --wtpi-text-secondary: #333333;
  --wtpi-text-color: #222222;
  --wtpi-border: #DDDDDD;
  --wtpi-radius: 5px;
  --wtpi-radius-sm: 10px;
  --wtpi-radius-md: 15px;
  --wtpi-radius-lg: 9999px;
  --wtpi-spaceing:15px;
  --wtpi-spaceing-sm:10px;
  --wtpi-spaceing-md:20px;
  --wtpi-shadow: 0px 0px 10px 0px #0000001A;
  --wtpi-font-size: 16px;
  --wtpi-font-size-sm: 18px;
  --wtpi-font-size-md: 20px;
  --wtpi-font-size-lg: 22px;
  --wtpi-font-size-xl: 24px;
  --wtpi-font-heading: 44px;
  --wtpi-font-weight: 500;
  --wtpi-font-weight-md: 600;
  --wtpi-font-weight-lg: 700;
  --wtpi-font-weight-bold: 800;
}
input[type=submit],
input[type=reset],
button {
  --theme: var(--wtpi-primary);
  display: inline-block;
  height: 44px;
  max-width: 350px;
  min-width: 140px;
  border: none;
  border-radius: var(--wtpi-radius);
  background-color: var(--theme);
  color: var(--wtpi-white);
  cursor: pointer;
  font-size: var(--wtpi-font-size);
  font-weight: var(--wtpi-font-weight);
}

.wtp-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}
@media screen and (max-width: 1200px) {
  .wtp-container {
    width: 95%;
    margin: auto;
  }
}

:root {
  --wtpi-primary: #ee2c29;
  --wtpi-primary-light:#EC5B57;
  --wtpi-body-background: #FAFAFA;
  --wtpi-white: #ffffff;
  --wtpi-text-primary: #EE312F;
  --wtpi-text-secondary: #333333;
  --wtpi-text-color: #222222;
  --wtpi-border: #DDDDDD;
  --wtpi-radius: 5px;
  --wtpi-radius-sm: 10px;
  --wtpi-radius-md: 15px;
  --wtpi-radius-lg: 9999px;
  --wtpi-spaceing:15px;
  --wtpi-spaceing-sm:10px;
  --wtpi-spaceing-md:20px;
  --wtpi-shadow: 0px 0px 10px 0px #0000001A;
  --wtpi-font-size: 16px;
  --wtpi-font-size-sm: 18px;
  --wtpi-font-size-md: 20px;
  --wtpi-font-size-lg: 22px;
  --wtpi-font-size-xl: 24px;
  --wtpi-font-heading: 44px;
  --wtpi-font-weight: 500;
  --wtpi-font-weight-md: 600;
  --wtpi-font-weight-lg: 700;
  --wtpi-font-weight-bold: 800;
}/*# sourceMappingURL=index.css.map */