:root {
  --wtpi-primary: #ee2c29;
  --wtpi-primary-light:#EC5B57;
  --wtpi-body-background: #ffffff;
  --wtpi-footer-bg: #222222;
  --wtpi-white: #ffffff;
  --wtpi-bottom-header-bg: #FAFAFA;

  --wtpi-light-text: #FAFAFA;
  --wtpi-text-primary: #EE312F;
  --wtpi-text-secondary: #444444;
  --wtpi-text-color: #222222;
  --wtpi-border: #DDDDDD;
  

  --wtpi-radius: 5px;
  --wtpi-radius-sm: 10px;
  --wtpi-radius-md: 15px;
  --wtpi-radius-lg: 9999px;


  --wtpi-spaceing:10px;
  --wtpi-spaceing-xs:6px;
  --wtpi-spaceing-sm:15px;
  --wtpi-spaceing-md:20px;
  --wtpi-spaceing-lg:25px;

  --wtpi-header-link-spaceing: 44px;

  --wtpi-shadow: 0px 0px 10px 0px #0000001A;
  --wtpi-menu-card-shadow: 0px 0px 10px 0px #0000001A;
  
  --wtpi-font-size-xs: 13px;
  --wtpi-font-size: 16px;
  --wtpi-font-size-sm: 18px;
  --wtpi-font-size-md: 20px;
  --wtpi-font-size-lg: 22px;
  --wtpi-font-size-xl: 24px;

  --wtpi-font-heading: 44px;
  


  --wtpi-font-weight: 500;
  --wtpi-font-weight-md: 600;
  --wtpi-font-weight-lg: 700;
  --wtpi-font-weight-bold: 800;


  // small device 

  @media screen and (max-width:768px) {
    --wtpi-font-size-xs: 12px;
    --wtpi-font-size: 14px;
    --wtpi-font-size-sm: 16px;
    --wtpi-font-size-md: 18px;
    --wtpi-font-size-lg: 19px;
    --wtpi-font-size-xl: 20px;
  
    --wtpi-font-heading: 34px;
    
  }

  // medius device 

  @media screen and (min-width:769px) and (max-width:1200px) {
    --wtpi-header-link-spaceing: 20px;

    --wtpi-font-size-xs: 13px;
    --wtpi-font-size: 15px;
    --wtpi-font-size-sm: 17px;
    --wtpi-font-size-md: 19px;
    --wtpi-font-size-lg: 20px;
    --wtpi-font-size-xl: 22px;
  
    --wtpi-font-heading: 36px;

  }

}

